<header>
    <h1>CS316 - PA4</h1>
    <nav class="nav">
        <a class="nav-item nav-link active" href="./login">Login</a>
        <a class="nav-item nav-link" href="./newUser">New User</a>
        <a class="nav-item nav-link" href="./user">My Account</a>
    </nav>
</header>