<form method="POST" action="/newUser">
    <h2>Sign Up</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" require>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" require>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" require>
        </div>
        <div class="form-group">
            <label for="verify_password">Verify Password</label>
            <input type="password" class="form-control" id="verify_password" name="verify_password" require>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" require>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
</form>